---
posts:
  - id: 0
    title: <span class="light">Organique</span> post with an image
    link: single-post.html
    datetime: 2014-01-06
    date: "January 6, 2014"
    featuredImage: images/dummy-licensed/blog-image-sidebar.jpg
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate, leo vel malesuada tincidunt, purus nunc tristique erat, at elementum tellus mi nec mi. Nunc rutrum ullamcorper blandit."
    mainContent: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet <span>risus</span>.

      Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.
  - id: 1
    title: <span class="light">This</span> blog is designed for maximum readibility
    link: single-post.html
    datetime: 2014-01-01
    date: "January 1, 2014"
    featuredImage: images/dummy-licensed/blog-image-sidebar.jpg
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    mainContent: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, pulvinar sit amet risus.

      Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.
  - id: 2
    title: <span class="light">And</span> this is how it looks third post
    link: single-post.html
    datetime: 2013-12-15
    date: "December 15, 2014"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    mainContent: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, pulvinar sit amet risus.

      Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.
  - id: 3
    title: <span class="light">One</span> more post
    link: single-post.html
    datetime: 2013-12-14
    date: "December 14, 2014"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit.."
    mainContent: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, pulvinar sit amet risus.

      Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.
  - id: 4
    title: <span class="light">Post</span> without excerpt
    link: single-post.html
    datetime: 2013-12-13
    date: "December 13, 2014"
    mainContent: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, pulvinar sit amet risus.

      Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.
---

<section>
  {{#each blog-content.posts}}
  <article>
    {{#if featuredImage}}
      <a href="{{link}}"><img class="wp-post-image" alt="Blog featured image" src="{{featuredImage}}" width="747" height="284"></a>
    {{/if}}
    {{#if ../isCenteredContent}}
    <div class="row">
      <div class="col-xs-8  col-xs-offset-2">
    {{/if}}
    <header>
      <h3 class="blog-title"><a href="{{link}}">{{{title}}}</a></h3>
      <div class="metadata  push-down-30">
        <time class="blog__date" datetime="{{datetime}}">{{date}}</time> / <a class="secondary-link" href="{{link}}#comments">3 comments</a>
      </div>
    </header>
    <div class="blog-content__text">
    {{#if excerpt}}
      <p class="blog-content__text--highlight">{{{excerpt}}}</p>
    {{/if}}
    {{#if mainContent}}
      {{#markdown}}
        {{{mainContent}}}
      {{/markdown}}
    {{/if}}
    </div>
    {{#if ../isCenteredContent}}
      </div>
    </div>
    {{/if}}
  </article>
  {{> divider}}
  {{/each}}
  {{!-- {{> blog-last-divider}} --}}
</section>

<nav class="center">
  <ul class="pagination">
    <li><a class="pagination--nav" href="#"><span class="glyphicon  glyphicon-chevron-left"></span></a></li>
    <li><a href="#">1</a></li>
    <li><a class="active" href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a class="pagination--nav" href="#"><span class="glyphicon  glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>