<div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-{{catID}}" data-price="{{price}}" data-rating="{{rating}}">
  <div class="products__single">
    <figure class="products__image">
      <a href="single-product.html">
        <img alt="#" class="product__image" width="263" height="334" src="images/dummy/w263/{{image}}">
      </a>
      <div class="product-overlay">
        <a class="product-overlay__more" href="single-product.html">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="product-overlay__cart" href="#">
          +<span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="product-overlay__stock">
          <span class="{{#if stock}}in-stock{{else}}out-of-stock{{/if}}">&bull;</span> <span class="in-stock--text">{{#if stock}}In stock{{else}}Out of stock{{/if}}</span>
        </div>
      </div>
    </figure>
    <div class="row">
      <div class="col-xs-9">
        <h5 class="products__title">
          <a class="products__link  js--isotope-title" href="single-product.html">{{title}}</a>
        </h5>
      </div>
      <div class="col-xs-3">
        <div class="products__price">
          ${{price}}
        </div>
      </div>
    </div>
    <div class="products__category">
      {{category}}
    </div>
  </div>
</div>