{{#each database.productsSelection.topRated}}
  {{#filter ../database.products this property='id'}}
  <div class="push-down-20  clearfix">
    <a href="single-product.html">
      <img alt="" class="widgets__products" width="78" height="78" src="images/dummy/w78/{{image}}">
    </a>
    <h5 class="products__title">
      <a class="products__link" href="single-product.html">{{title}}</a>
    </h5>
    <span class="line-through">${{add price 3}}</span> <span class="products__price--widgets">${{price}}</span>
    <br><br>

    {{#times 5}}
    <span class="glyphicon glyphicon-star  {{#lt this ../rating}}star-on{{else}}star-off{{/lt}}"></span>
    {{/times}}
  </div>
  {{/filter}}
{{/each}}